.order-form {
  display: flex;
  flex-direction: column;
  gap: 17px;
  width: 500px;
}

.input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-box label {
  text-align: center;
}

.order-form label input[type="checkbox"] {
  margin-right: 10px;
}

.input {
  width: 350px;
}

.order-button {
  width: 230px;
  margin-top: 30px;
}

.label-check-box {
  display: flex;
  align-items: center;
  margin-left: 145px;
}

.label-check-box input[type="checkbox"] {
  margin-right: 10px;
}

.error-message {
  color: red;
  font-size: 12px;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(2px);
  width: 100%;
  text-align: left;
}
